body {
	height: 90%;
	width: 90%;
}
li {
	list-style-type: none;
	float:left;

}

li a {
	text-decoration: none;
	color: black;
	padding: 10px;
	display: block;
}

.top-navbar {
	float:right;
	margin-top: -180px;
}

.work-area {
	margin: 176px 0px 511px 610px;
}

#user-input {
	width: 500px;
	margin: 20px;
	height: 25px;
	

}

.submit {
	margin-left: 100px;
	display: block;

}

.submit input {
	width: 150px;
	height: 30px;
	float: left;
	margin: 5px;
	border:none;
	background-color: #f2f2f2;
	color:#757575;

}

.googlelogo {
    padding: 20px;
    margin-left: 100px;
 

}
.bottom-navbar {
	background-color: #f2f2f2;
	height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
}

.bottom-navbar .right {
	float:right;
	margin-right: 23px;
	
}

.bottom-navbar li a {
	color: #757575;
	padding: 0 10px;
}
